//@import 'forms';
//@import 'lists';
//@import 'buttons';
@import 'fonts';
@import 'variables';

* {
	box-sizing: border-box; /* come back to this */
	&:focus {
		outline: 0;
	}
}
input, button {
	padding: 0.3rem;
}
ul {
	list-style-type: none;
	padding: 0;
}