# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules/
H5BP-Multi-Layer-FavIcons-master/
ICOFormat-2.1f1-win64/