@import 'normalize';
@import 'base/base';
@import 'mixins/mixins';

body {
	background-color: $heroBackgroundColor;
}
#hero {
	width: 100%;
	padding: 1rem;
	@include centerer;
	text-align: center;
	background-color: inherit;

	img {
		max-width: 300px;
		@media screen and (min-width: $wideScreen) {
			max-width: 600px;
		}
	}
	h2 {
		margin: 0.5rem auto 7rem auto!important; /* Why this needs to be important? */
		font-family: $headingFont;
		font-size: 1.65rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		@media screen and (min-width: $wideScreen) {
			font-size: 2rem;
		}
	}
	input, button {
		width: 280px;
		display: block;
		margin: 0 auto;
		@media screen and (min-width: $wideScreen) {
			width: 400px;
		}
	}
	button {
		background-color: $outlineColor;
		color: white;
		border: 3px solid $outlineColor;
	}
	input {
		text-align: center;
		font-family: $inputFont;
		border: 3px solid $outlineColor;
	}
	li {
		display: inline-block;
		margin: 0;
	}
}
#social li {
	vertical-align: top;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}